body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formBlock{
    width: 550px;
    height: 580px;
    margin: auto;
    border: solid 4px rgba(128, 128, 128, 0.658);
}

.formBlock_header{
    background-color: rgba(128, 128, 128, 0.658);
    width: 550px;
    height: 40px;
    margin: 0%;
    text-align: center;
    color: white;
}

.formBlock_form{
    margin: 40px;
}

.formBlock_headings{
    display: inline-block;
    width: 150px;
    text-decoration: underline 2px rgba(128, 128, 128, 0.658);
    color: rgb(44, 44, 44);
    font-weight: bold;

}

.unorList{
    list-style: none;
}

.unordered{
    display: inline-block;
    width: 200px;
}

.formBlock_headings__top{
    position: relative;
    top: -80px;
}

.formBlock_button{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 170px;
    margin-right: auto;
    height: 35px;
    width: 120px;
    background-color: rgba(128, 128, 128, 0.658);
    color: whitesmoke;
    font-size: 1.1rem;
    border: none;
    border-radius: 9%;
}

.formBlock_hidden{
    height: 30px;
    margin: 0;
    font-weight: 900;
    color: black;
    visibility: hidden;
}